.section_faq{
    margin: 0 auto;
     width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    position: relative;
    padding: 0 30px 0;
}

.faq_title{
    font-family: New-YorkerC;
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1%;
    color: var(--color-accent-green);
    margin: 0;
}

.faq_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.faq_img{
    width: 407px;
    height: 501px;
     border-top-left-radius: 244px;
  border-top-right-radius: 244px;
}

.faq_main{
    border-top: 1px solid #98958B;
    width: 100%;
    max-width: 712px;
    margin-right:20px ;
}

.faq_item{
    border-bottom: 1px solid #98958B;
      width: 100%;;

}

.faq_item p{
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: var(--color-text);
    margin: 0 0 31px 55px;
}

summary{
   font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    cursor: pointer;
    display: flex;
    padding: 24px 0;

    color: var(--color-text);

    transition: all 0.7s ease;

}

summary::marker{
    content:"";
}

summary::before{
     content: "+";
    font-size: 20px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #98958B;
    border-radius: 50%;
    margin-right: 24px;

    transition: all 0.7s ease;
    aspect-ratio: 1 / 1;
}

details[open] summary::before { 
    content: "-";
     border: 1px solid var(--color-accent-green);
    background-color: var(--color-accent-green);
    color: var(--color-background);
}

details[open] summary{ 
    font-family: Raleway;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
}

::details-content{
    transition: height 0.5s ease,content-visibility 0.5s ease allow-discrete ;
    height: 0;
    overflow: clip;
}

:root{
    interpolate-size:allow-keywords;
}

[open]::details-content{
    height: auto;
}

.faq_flower_right{
    position: absolute;
    top: 1px;
    left: 962px;
    z-index: -1;
}

.faq_flower_left{
    position: absolute;
    top: 496px;
    left: -180px;
    z-index: -1;
}

@media (max-width:768px){

    .faq_img{
        
    max-width: 338px;
    height: 467px;
}

    .faq_title{
        font-size: 32px;
    }

    details[open] summary{ 
    font-weight: 600;
    font-size: 16px;
}

.faq_item_p{
    font-size: 14px;
}

.faq_flower_right{
    position: absolute;
    top: -80px;
    left: 500px;
    z-index: -1;
}

}
@media(max-width: 375px){
    .faq_title{
        font-size: 26px;
    }

    
    .faq_img{
        width: 100%;
    max-width: 327px;
    height: 366px;
    margin-bottom: 32px;

}
.faq_bottom{
    flex-direction: column;
}
    .faq_main{
        order: 2;
        margin: 0;
    }

        details[open] summary{ 
    font-weight: 600;
    font-size: 14px;
}

summary{
    font-size: 14px;
}

.faq_flower_right{
    position: absolute;
    top: 40px;
    left: 150px;
    z-index: -1;
}

.faq_flower_right img{
    width: 225px;
    height: 225px;
    
}

}