:root {
  --color-main-green: #637D61;
  --color-accent-green: #789776;
  --color-text: #5B6158;
  --color-background: #FEFBF7;
  --color-text-double: #3F423D;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: var(--color-background);
  max-width: 1600px;
}

main{
  display: flex;
  flex-direction: column;
  gap: 120px;
}