.section_price{
    margin: 0 auto;
     width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 72px;
    flex-direction: column;
    padding: 9px 23px 14px;
    position: relative;
}

.price_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price_title{
    font-family: New-YorkerC;
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1%;
    color: var(--color-accent-green);
    margin: 0;
}

.price_subtitles_container{
    display: flex;
    flex-direction: column;
    gap: 9px;
    max-width: 383px;
}

.price_subtitle{
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0%;
    color: var(--color-text);
    margin: 0;
}

.price_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price_card_single{
    max-width: 123px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.price_single_value{
    font-family: Raleway;
    font-weight: 300;
    font-style: Light;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 0.7%;
    color: var(--color-text);
}

.price_single_divider{
    height: 1px;
    background-color: var(--color-text);
    width: 100%;

}

.price_single_label{
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: var(--color-text);
}

.single_count{
    font-family: Raleway;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--color-text);
}

.price_list{
    display: grid;
  grid-template-columns: 0.5fr 1fr 1.2fr;
  grid-template-rows: repeat(3, auto);
  column-gap: 80px;
  row-gap: 48px;
}

.price_card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.price_card_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-text);
}

.price_card_left_part{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.price_count{
    font-family: Raleway;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0%;

}

.price_label, .price_one_price--text{
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    
}

.price_card_total, .price_one_price--number{
    font-family: Raleway;
    font-weight: 300;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 0.7%;

}

.price_card_divider{
    height: 1px;
    background-color: var(--color-text);
    width: 100%;
}

.price_card_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-accent-green);
}

.price_card_one{
    font-family: Raleway;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0%;
}
.price_one_label{
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
}

.price_book_btn{
    width: 240px;
    height: 55px;

    padding: 24px 56px;
    border: 0;
    border-radius: 53px;

    background-color: var(--color-accent-green);
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    font-family: Raleway;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 5%;
    text-transform: uppercase;

    grid-column: 1;
    grid-row: 2;
    align-self: end;
}

.price_flower{
    position: absolute;
    top: 340px;
    left: 962px;
    z-index: -1;
}

.price_review_btn{
    width: 240px;
    height: 55px;
    border:1px solid var(--color-accent-green);
    cursor:pointer;
    align-items: center;
    border-radius:53px;
    white-space: nowrap;

    background: transparent;
    color: var(--color-accent-green);

    font-family: Raleway;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 5%;
    text-transform: uppercase;

    display: none;
}

@media(max-width:900px){

    .section_price{
        padding-left:35px;
        padding-right: 35px;
    }
    .price_list{
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-template-rows: repeat(3, auto);
}
}

@media(max-width:768px){
        .price_list{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 20px;
    column-gap: 32px;
   

    }

    .free_cost{
        font-weight: 600;
    }
    .price_book_btn{
        display: none;
    }
    .price_title{
        font-size: 30px;
        max-width: 336px;

    }
    .price_subtitle{
        font-size: 12px;
        max-width: 310px;
        text-align: flex-end;
        
    }
    .price_strong_activate{
        color: var(--color-accent-green);
    }
    .price_card{
        max-width: 338px;
    }

    .price_card[data-id="single"]{
        order: 1;
    }
    .price_card[data-id="8lessons"]{
        order:2;
    }
    .price_card[data-id="12lessons"]{
        order:3;
    }
    .price_card[data-id="unlimited"]{
        order:4;
    }
    .price_card[data-id="4lessons"]{
        order:5;
    }

    .price_review_btn{
            display: block;
            order: 6;
            align-self: flex-end;
            justify-self: end;
    }

    .price_single_value, .single_count, .price_count, .price_card_one, .price_card_total, .price_one_price--number{
        font-size: 32px;
    }
    .price_single_label, .price_label, .price_one_label, .price_one_price--text{
        font-size: 16px;
    }
}

@media(max-width: 375px){
         .price_list{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, auto);
            column-gap: 32px;
             grid-template-areas:
            "single btn"
            "fourth fourth"
            "eigth eigth"
            "twl twl"
            "unl unl";
        }


    .price_header{
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .price_book_btn{
        display: block;
    }
    .price_review_btn{
        display: none;
    }

     .price_title{
        font-size: 28px;
        width: 100%;

    }
    .price_subtitle{
        font-size: 13px;
        max-width: 327px;
        text-align: flex-end;
    }

    .price_subtitle[data-id="price_1"]{
        order: 2;
    }

     .price_subtitle[data-id="price_2"]{
        order: 1;
    }

    .price_strong_activate{
        color: inherit;
    }
    .price_book_btn{
        display: block;
        grid-area: btn;
        order: 2;
        width: 191px;
        height: 49px;
        padding: 20PX 50px;
        font-size: 13px;
    }

      .price_card[data-id="single"]{
        grid-area: single;
        order: 1;
    }
    .price_card[data-id="8lessons"]{
        grid-area: eigth;
        order:4;
    }
    .price_card[data-id="12lessons"]{
        grid-area: twl;
        order:5;
    }
    .price_card[data-id="unlimited"]{
        grid-area: unl;
        order:6;
    }
    .price_card[data-id="4lessons"]{
        grid-area: fourth;
        order:3;
    }

     .price_single_value, .single_count, .price_count, .price_card_one, .price_card_total, .price_one_price--number{
        font-size: 32px;
    }
    .price_single_label, .price_label, .price_one_label, .price_one_price--text{
        font-size: 14px;
    }

    .price_card{
        max-width: 327px;
    }

      .price_strong_activate{
        color: var(--color-text);
    }



}