.section_schedule{
    margin: 0 auto;
     width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 72px;
    flex-direction: column;
    padding: 9px 30px 4px;
}

.schedule_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.schedule_col_title_trainer{
    display: none;
}

  .schedule_col_duration_hour{
        display: none;
    }

.schedule_title{
    font-family: New-YorkerC;
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1%;
    color: var(--color-accent-green);
    margin: 0;
}

.schedule_row_head{
    display: none;
}

.schedule_subtitle{
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0%;
    color: var(--color-text);
    max-width: 404px;
    margin: 0;
    
}


.schedule_bottom{
    display: grid;
  grid-template-columns: 1.5fr 1fr; 
  gap: 81px;
  align-items: start;
}

.schedule_img{
    width: 100%;
    max-width: 407px;
    height: 478px;
    border-top-right-radius: 193.5px;
    object-fit: cover;
    transform: scaleX(-1);
}

.schedule_nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 712px;
}

.schedule_tabs{
    display: flex;
    flex-direction: row;
    gap: 41px;
     justify-content: flex-start;
}

.tab{
    display: flex;
    width: max-content;
    white-space: nowrap;
    height:33px;
    align-items: flex-start;
    background-color: transparent;
    color: var(--color-text);
    border: none;
    padding: 0;

    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 5%;
    cursor: pointer;
    opacity: 50%;
}

.tab-active{
    border-bottom: 2px solid var(--color-accent-green);
    color: var(--color-accent-green);
}

.schedule_main{
    width: 100%;
    max-width: 712px;
    display: flex;
    flex-direction: column;
    gap:0;

    opacity: 1;
    transition: opacity 2s ease;
    
}

.schedule_row{
  display: grid;
  grid-template-columns:
    1.4fr
    1fr
    0.6fr
    1.6fr
    0.6fr; 

  align-items: center;
  height: 61px;
  padding-right: 42px;

  font-family: Raleway;
  font-size: 14px;
  line-height: 125%;
  color: var(--color-text);

  border-bottom: 1px solid var(--color-opacity);

}




.schedule_actions{
    display: flex;
    flex-direction: row;
    gap:24px;
    justify-self: end;
}
.schedule_col_trainer{
    display: flex;
    justify-content: center;
}

.schedule_book_btn, .schedule_phone_btn{
    width: 18px;
    height: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.schedule_free{
        font-weight: bold;
        text-transform: uppercase;
    }

@media(max-width: 768px){
    .schedule_img{
        display: none;
    }

    .schedule_bottom{
        display: flex;
        justify-content: center;
    }
    .schedule_title{
        font-size: 30px;
        max-width: 341px;

    }
    .schedule_subtitle{
        font-size: 14px;
        width: 100%;
        max-width: 337px;

    }
    .schedule_free{
        color: var(--color-accent-green);
        font-weight: 400px;
    }
}

@media(max-width: 375px){
    .schedule_row_head{
        display: grid;
        grid-template-columns: 
            1.2fr 0.6fr 2fr;

        font-family: Raleway;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        color: var(-color-text);
        opacity: 0.6;

    }
    .schedule_col_title_trainer{
        display: block;
        font-family: Raleway;
        font-weight: 400;
        font-size: 11px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #98958B;

    }

    .schedule_col_trainer{
        display: none;
    }

    .schedule_row{
        grid-template-columns:
    2fr
    1fr
    1fr
    0.5fr
    }

    .schedule_tabs{
        overflow-x: auto;
    }

    .schedule_col_title{
        font-size: 14px;

    }
      .schedule_col_time{
        font-size: 14px;
        
    }

    .schedule_col_durationMin{
        display: none;
    }

    .schedule_col_duration_hour{
        display: block;
        font-size: 10px;
    }

    .schedule_header{
        flex-direction: column;
        gap:24px;
    }
    .schedule_subtitle{
        font-size: 13px;
    }

    .schedule_free{
        color: var(--color-text);
        font-weight: 400px;
        font-size: 13px;
    }
}

